In [1]:
import pandas as pd

data= pd.read_csv('https://docs.google.com/spreadsheets/d/e/2PACX-1vR1OYsz7cNFWMK9ZXe_6JgTu3kz1ywcVwajRlnKxKyNxot71TfC728ylqnsNuv7dA/pub?gid=641624856&single=true&output=csv',header=[0,1,2])
data

,Unnamed: 0_level_0,Unnamed: 1_level_0,Human Development Index (HDI),Unnamed: 3_level_0,Life expectancy at birth,Unnamed: 5_level_0,Expected years of schooling,Unnamed: 7_level_0,Mean years of schooling,Unnamed: 9_level_0,Gross national income (GNI) per capita,Unnamed: 11_level_0,GNI per capita rank minus HDI rank,Unnamed: 13_level_0,HDI rank
,HDI rank,Country,Value,Unnamed: 3_level_1,(years),Unnamed: 5_level_1,(years),Unnamed: 7_level_1,(years),Unnamed: 9_level_1,(2017 PPP $),Unnamed: 11_level_1,Unnamed: 12_level_1,Unnamed: 13_level_1,Unnamed: 14_level_1
,Unnamed: 0_level_2,Unnamed: 1_level_2,2021,Unnamed: 3_level_2,2021,Unnamed: 5_level_2,2021,a,2021,a,2021,Unnamed: 11_level_2,2021,b,2020
0,NaN,VERY HIGH HUMAN DEVELOPMENT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.0,Switzerland,"0,962",NaN,"84,0",NaN,"16,5",NaN,"13,9",NaN,66.933,NaN,5,NaN,3
2,2.0,Norway,"0,961",NaN,"83,2",NaN,"18,2",c,"13,0",NaN,64.660,NaN,6,NaN,1
3,3.0,Iceland,"0,959",NaN,"82,7",NaN,"19,2",c,"13,8",NaN,55.782,NaN,11,NaN,2
4,4.0,"Hong Kong, China (SAR)","0,952",NaN,"85,5",d,"17,3",NaN,"12,2",NaN,62.607,NaN,6,NaN,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
265,NaN,Column 2: UNDESA (2022a).,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
266,NaN,"Column 3: CEDLAS and World Bank (2022), ICF Ma...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,"Column 4: Barro and Lee (2018), ICF Macro Demo...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,"Column 5: IMF (2022), UNDESA (2022b), United N...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,NaN,Column 6: Calculated based on data in columns ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
data=data.iloc[:230]

In [3]:
data_limpio=data.drop(index=[0,1,2,3]).reset_index(drop=True)

In [4]:
data_limpio.columns=data_limpio.iloc[0]
data_limpio=data_limpio.drop(0).reset_index(drop=True)

In [5]:
nombres_columnas= ["HDI rank","Country","Human Development Index (HDI)","ND","Life expectancy at birth (years)","ND","Expected years of schooling (years)","ND","Mean years of schooling (years)","ND","Gross national income (GNI) per capita (2017 PPP $)","ND","GNI per capita rank minus HDI rank","ND","HDI rank (2020)"]

In [6]:
data_limpio.columns=nombres_columnas

In [7]:
eliminar_col=data_limpio.columns[[3,5,7,9,11,13]]
data_limpio=data_limpio.drop(columns=eliminar_col)

In [8]:
filas= [8,75,125,170,203]

In [9]:
for index in filas:
    nombre=data_limpio.loc[index,"Country"]
    data_limpio.loc[index + 1:, "Human_development_groups"] = nombre

In [10]:
data_limpio=data_limpio.drop(index=filas).reset_index(drop=True)

In [11]:
data_limpio["Human_development_groups_num"]=data_limpio["Human_development_groups"]
mapper1={"Low human development": 1, "Medium human development": 2, "High human development": 3, "Very high human development": 4}

In [12]:
data_limpio["Human_development_groups_num"] = data_limpio["Human_development_groups_num"].replace(mapper1)

In [13]:
convertir=data_limpio.columns.drop(["Country"])

In [14]:
data_limpio[convertir]=data_limpio[convertir].apply(lambda x: x.astype(str).str.replace(",","."))

In [15]:
data_limpio[convertir]=data_limpio[convertir].apply(pd.to_numeric, errors="coerce")
data_limpio

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth (years),Expected years of schooling (years),Mean years of schooling (years),Gross national income (GNI) per capita (2017 PPP $),GNI per capita rank minus HDI rank,HDI rank (2020),Human_development_groups,Human_development_groups_num
0,5.0,Australia,0.951,84.5,21.1,12.7,49.238,18.0,5.0,NaN,NaN
1,6.0,Denmark,0.948,81.4,18.7,13.0,60.365,6.0,5.0,NaN,NaN
2,7.0,Sweden,0.947,83.0,19.4,12.6,54.489,9.0,9.0,NaN,NaN
3,8.0,Ireland,0.945,82.0,18.9,11.6,76.169,-3.0,8.0,NaN,NaN
4,9.0,Germany,0.942,80.6,17.0,14.1,54.534,6.0,7.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
215,NaN,a. Data refer to 2021 or the most recent year ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,b. Based on countries for which a Human Develo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,NaN,"c. In calculating the HDI value, expected year...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,NaN,"d. In calculating the HDI value, life expectan...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,e. Updated by HDRO based on data from UNESCO I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
data_limpio1=data_limpio.drop(data_limpio.columns[[7,8]], axis=1)
data_limpio

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth (years),Expected years of schooling (years),Mean years of schooling (years),Gross national income (GNI) per capita (2017 PPP $),GNI per capita rank minus HDI rank,HDI rank (2020),Human_development_groups,Human_development_groups_num
0,5.0,Australia,0.951,84.5,21.1,12.7,49.238,18.0,5.0,NaN,NaN
1,6.0,Denmark,0.948,81.4,18.7,13.0,60.365,6.0,5.0,NaN,NaN
2,7.0,Sweden,0.947,83.0,19.4,12.6,54.489,9.0,9.0,NaN,NaN
3,8.0,Ireland,0.945,82.0,18.9,11.6,76.169,-3.0,8.0,NaN,NaN
4,9.0,Germany,0.942,80.6,17.0,14.1,54.534,6.0,7.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
215,NaN,a. Data refer to 2021 or the most recent year ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,NaN,b. Based on countries for which a Human Develo...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,NaN,"c. In calculating the HDI value, expected year...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,NaN,"d. In calculating the HDI value, life expectan...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,NaN,e. Updated by HDRO based on data from UNESCO I...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
data_limpio1=data_limpio.dropna(subset=["HDI rank"])

In [18]:
data_limpio1

,HDI rank,Country,Human Development Index (HDI),Life expectancy at birth (years),Expected years of schooling (years),Mean years of schooling (years),Gross national income (GNI) per capita (2017 PPP $),GNI per capita rank minus HDI rank,HDI rank (2020),Human_development_groups,Human_development_groups_num
0,5.0,Australia,0.951,84.5,21.1,12.7,49.238,18.0,5.0,NaN,NaN
1,6.0,Denmark,0.948,81.4,18.7,13.0,60.365,6.0,5.0,NaN,NaN
2,7.0,Sweden,0.947,83.0,19.4,12.6,54.489,9.0,9.0,NaN,NaN
3,8.0,Ireland,0.945,82.0,18.9,11.6,76.169,-3.0,8.0,NaN,NaN
4,9.0,Germany,0.942,80.6,17.0,14.1,54.534,6.0,7.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
181,187.0,Burundi,0.426,61.7,10.7,3.1,732.000,4.0,187.0,NaN,NaN
182,188.0,Central African Republic,0.404,53.9,8.0,4.3,966.000,1.0,188.0,NaN,NaN
183,189.0,Niger,0.400,61.6,7.0,2.1,1.240,-3.0,189.0,NaN,NaN
184,190.0,Chad,0.394,52.5,8.0,2.6,1.364,-7.0,190.0,NaN,NaN
185,191.0,South Sudan,0.385,55.0,5.5,5.7,768.000,-1.0,191.0,NaN,NaN

In [19]:
data_limpio.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 220 entries, 0 to 219
Data columns (total 11 columns):
 #   Column                                               Non-Null Count  Dtype
---  ------                                               --------------  -----
 0   HDI rank                                             183 non-null    float64
 1   Country                                              214 non-null    object
 2   Human Development Index (HDI)                        198 non-null    float64
 3   Life expectancy at birth (years)                     202 non-null    float64
 4   Expected years of schooling (years)                  200 non-null    float64
 5   Mean years of schooling (years)                      198 non-null    float64
 6   Gross national income (GNI) per capita (2017 PPP $)  200 non-null    float64
 7   GNI per capita rank minus HDI rank                   183 non-null    float64
 8   HDI rank (2020)                                      183 non-null    float64
 9   Human_development_groups                             0 non-null      float64
 10  Human_development_groups_num                         0 non-null      float64
dtypes: float64(10), object(1)
memory usage: 19.0+ KB